body {
    background-color: #f7f4ea;
    max-width: 900px;
    margin: 30px auto;
    border: 6px double #000;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #181818;
    padding: 25px 0 18px 0;
    margin-bottom: 18px;
}
header h1, header h3 {
    text-align: center;
    color: #d72020;
    margin: 0;
}
header h1 {
    font-size: 2.1em;
    letter-spacing: 2px;
    font-weight: bold;
}
header h3 {
    font-size: 1.1em;
    margin-top: 8px;
    font-weight: 400;
    color: #faebd7;
}

section {
    margin-bottom: 30px;
    padding: 0 20px;
}

h2 {
    color: #181818;
    font-size: 1.25em;
    border-bottom: 2px solid #d72020;
    padding-bottom: 3px;
    margin-bottom: 12px;
    letter-spacing: 0.5px;
}

ul {
    list-style-type: disc;
    padding-left: 32px;
    margin-top: 7px;
}

p {
    color: #333;
    font-size: 1.04em;
    padding-left: 18px;
}

strong {
    color: #112d4e;
}

@media (max-width: 700px) {
    body {
        border-width: 3px;
        padding: 3vw;
    }
    section {
        padding: 0 7px;
    }
    header h1 {
        font-size: 1.3em;
    }
}
